# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Playwright
test-results/
playwright/.cache/

# Raw images (before optimization)
raw-images/

# Media files
/Media
nul
/playwright-report/data
public/august-2025-daily-activities.xlsx
/jurys
/Photos of all candidates
Mobility Booklet Candidates summary.pdf
Mobility_Trailblazers_Top25_in_2025_V2.pdf
/playwright-report
/playwright-report
playwright-report/index.html
/playwright-report
Mobility_Trailblazers_Top25_in_2025_V2.docx
/playwright-report
/Photos with Consent
/Trailblazers photos with consent
Candidates_description_compressed.pdf
